@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  
}

/*#play {
  border:1px solid #ddd;
  padding:20px;
  text-align:center;
}*/

/*#start {
  padding:20px;
  font-size:16px;
}*/

/* -- Board -- */

table.game-board {
  border-collapse: collapse;
  border: 1px solid #fff;
  margin: auto;
}

table.game-board td {
  border: 1px solid #ddd;
  cursor: pointer;
  height: 80px;
  width: 80px;
  text-align: center;
}

table.game-board td span {
  background: #eee;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}

table.game-board td span.match {
  background: #ff0;
  display: block;
}

table.game-board td span.select {
  background: #00f;
  font-weight: bold;
  display: block;
}

table.game-board td span.none {
  display: none;
}

div.game-controls {
  display: block;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

div.game-comments {
  display: block;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #aaa;
}

table.game-board td span.single {
  display: none;
}

/* -- 3D button -- */

.btn {
  display: flex;
  justify-content: center;
}

#start {
  position: relative;

  background: #ecd300; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(hsl(54, 100%, 50%), hsl(54, 100%, 40%)); /* Standard syntax */

  font-size: 1.4rem;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 -1px 0 #c3af07;
  color: white;
  border: solid 1px hsl(54, 100%, 20%);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  z-index: 4;

  outline: none;

  box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
              0 2px 0 hsl(54, 100%, 20%),
              0 3px 0 hsl(54, 100%, 18%),
              0 4px 0 hsl(54, 100%, 16%),
              0 5px 0 hsl(54, 100%, 14%),
              0 6px 0 hsl(54, 100%, 12%),
              0 7px 0 hsl(54, 100%, 10%),
              0 8px 0 hsl(54, 100%, 8%),
              0 9px 0 hsl(54, 100%, 6%);
}

  #start:hover {
    background: #ecd300; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 45%), hsl(54, 100%, 35%)); /* Standard syntax */
  }

  #start:active {
    background: #ecd300; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(hsl(54, 100%, 43%), hsl(54, 100%, 33%)); /* Standard syntax */

    top: 2px;

    box-shadow: inset 0 1px 0 hsl(54, 100%, 50%),
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%),
                0 4px 0 hsl(54, 100%, 16%),
                0 5px 0 hsl(54, 100%, 14%),
                0 6px 0 hsl(54, 100%, 12%),
                0 7px 0 hsl(54, 100%, 10%);
  }
  
  
/* -- Retro screen -- */

.main-container {
  display: flex;
  justify-content: center;
  background-color: #5d6160;
  height: 100%;
  
}

.screen-container {
  display: flex;
  justify-content: center;
  background-color: #309b80;
  width: 300px;
  height: 200px;
  align-items: center;
  position: relative;
  margin: 20px 0;
  border-radius: 50% / 10%;
  
}

.screen-container:before {
  content: '';
  position: absolute;
  top: 8%;
  bottom: 8%;
  right: -4%;
  left: -4%;
  background: inherit;
  border-radius: 5% / 50%;
  
}



/* -- Media Queries -- */

@media screen and (min-width: 768px) {
  .screen-container {
    width: 700px;
    height: 500px;
  }
}





